/* ============================= */
/* DISC_STATS.CSS                */
/* ============================= */


/* ============================= */
/* CLICKABLE-STAT                */
/* ============================= */
.panel-body .clickable-stat {
  color: #b3b3ff !important;
  font-size: 0.96rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}
.panel-body .clickable-stat:hover {
  color: #ccccff !important;
  font-size: 0.99rem;
}
.clickable-stat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 6px;
}

/* ============================= */
/* CLICKABLE-MATCH  (tags/pills) */
/* ============================= */
.clickable-match-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 4px;
  padding: 5px 10px;
}
.clickable-match {
  color: #9aaae4;
  cursor: pointer;
  padding: 0.2rem 1.2rem;
  background-color: #3a3f5c;
  border-radius: 0.4rem;
  font-weight: bold;
  margin: 0; /* removed weird margin */
  min-width: 100px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease, color 1s ease;
}
.clickable-match:hover {
  background-color: #49538b;
  color: #ccc;
}
