.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.72rem 1.2rem;
  background-color: #40444b;
  color: #fff;
  border: 1px solid #2f3136;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 2rem;
}
.button:hover {
  background-color: #50545b;
  transform: translateY(-2px);
}
.button.full-width {
  padding: 0.9rem;
  font-size: 0.95rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}
/* Button Disabled */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden; 
}


.label-button {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 0.8rem 1rem;
  background-color: #40444b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #2f3136;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1rem;
}
.label-button:hover {
  background-color: #50545b;
}
