/* ============================== */
/* DISC_LABELS.CSS                */
/* ============================== */


/* ============================== */
/* TOAST                          */
/* ============================== */
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, bottom 0.4s ease;
  z-index: 1000;
}
.toast.show {
  opacity: 1;
  bottom: 40px;
}

/* ============================== */
/* SAVED CARD                     */
/* ============================== */
.saved-card {
  border: 2px solid #00c853;
  box-shadow: 0 0 10px #00c853;
  transition: all 0.3s ease;
}

/* ============================== */
/* TAG LABEL                      */
/* ============================== */
.tag-label {
  color: #9393ec;
  font-size: 1rem;
}

/* ============================== */
/* TAG TOGGLE                     */
/* ============================== */
.tag-toggle {
  display: inline-block;
  background-color: #3a3f5c;
  color: #9aaae4;
  padding: 4.2px 14px;
  margin: 12px 0 0.8px 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.88rem;
  user-select: none;
  transition: background-color 0.4s ease, color 0.6s ease, border-radius 0.8s ease;
}
.tag-toggle:hover {
  background-color: #58608d;
  color: #ddd;
  border-radius: 16px;
  animation:
    bounce 320ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}
@keyframes bounce {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-3px);
  }
}

/* ============================== */
/* CHEVRON                        */
/* ============================== */
.chevron {
  display: inline-block;
  margin-left: 6px;
  color: #bbb;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.toggle-open .chevron {
  transform: rotate(180deg);
}
.toggle-open .chevron {
  transform: rotate(180deg);
}

/* ============================== */
/* USL WRAPPER                    */
/* ============================== */
.usl-wrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.25s ease, opacity 0.25s ease;
}
.usl-wrapper.show {
  max-height: 500px;
  opacity: 1;
  background-color: #232529;
  /*box-shadow: inset 0 0 0.4rem 0.1rem #0d0c0d;*/
  color: #7289da;
  padding: 12px 14px;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
