/* ============================== */
/* DISC_HEADINGS.CSS              */
/* ============================== */


/* ============================== */
/* HEADING 1                      */
/* ============================== */
h1 {
  /* Box Model */
  margin: 2rem 0 2rem;

  /* Typography */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.6rem !important;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  color: #5e77d4;
  transition: 
    font-size 0.8s ease,
    margin 0.8s ease;
}
h1:hover {  
  /* Box Model */
  margin: 2rem 0 1.5rem;
  block-size: inherit;

  /* Typography */
  font-size: 3rem !important;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

/* ============================== */
/* HEADING 2                      */
/* ============================== */
h2 {
  /* Box Model */
  margin: 0.75rem 0 0.5rem;

  /* Typography */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.4rem !important;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.75px;
  color: #5e77d4;
}


/* ============================== */
/* HEADING 3                      */
/* ============================== */
h3 {
  /* Box Model */
  margin: 0.75rem 0 0;

  /* Typography */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem !important;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.7px;
  color: #d0d0e1;
  
  transition: 
    font-size 0.8s ease,
    margin 0.8s ease;
}
h3:hover {  
  /* Box Model */
  margin: 0.75rem 0 0;
  block-size: inherit;

  /* Typography */
  font-size: 1.1em !important;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

/* ============================== */
/* HEADING 4                      */
/* ============================== */
h4 {
  /* Box Model */
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;

  /* Layout */
  display: flex;
  align-items: center;
  gap: 0.5rem;

  /* Typography */
  font-size: 1.1rem;
  font-weight: bold;
}
