/* ============================== */
/* DISC_LABELS.CSS                */
/* ============================== */


/* ============================== */
/* PARAGRAPH                      */
/* ============================== */
.p {
  color: var(--p-color);
  text-align: center;
}

/* ============================== */
/* TIMESTAMPS                     */
/* ============================== */
.search-timestamp {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 0.95rem !important;
  color: var(--search-timestamp-color);
  user-select: none;
}

/* ============================== */
/* TOASTS                         */
/* ============================== */
.toast {
  pointer-events: none;
  position: fixed;
  padding: 10px 40px;
  border-radius: 60px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  background: var(--toast-background);
  color: var(--toast-color);
  border: var(--toast-border);
  opacity: 0;
  transition: opacity 1s ease, bottom 1.2s ease, border 3s ease;
  z-index: 1000;
}
.toast.show {
  opacity: 1;
  bottom: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* ============================== */
/* SAVED CARD                     */
/* ============================== */
.saved-card {
  border: var(--saved-card-border);
  transition: all 0.3s ease;
  user-select: none;
}

/* ============================== */
/* TAG LABELS                     */
/* ============================== */
.tag-label {
  color: var(--tag-label-color);
  font-size: 1rem;
  user-select: none;
}

/* ============================== */
/* TAG TOGGLES                    */
/* ============================== */
.tag-toggle {
  cursor: pointer;
  padding: 0.06rem 1.2rem;
  font-weight: bold;
  background-image: var(--tag-toggle-background-image);
  background-size: 260%;
  color: var(--tag-toggle-color);
  border: var(--tag-toggle-border);
  border-radius: 0.6rem;
  margin: 0; /* removed weird margin */
  min-width: 100px;
  text-align: center;
  display: inline-block;
  transition: 
    color 0.6s ease, 
    border-radius 0.28s ease-in;
}
.tag-toggle:hover {
  border-radius: 16px;
  color: var(--tag-toggle_hover-color);
  background-image: var(--tag-toggle_hover-background-image); 
  background-size: 120%;
  animation:
    bounce 320ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}
@keyframes bounce {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-3px);
  }
}

/* ============================== */
/* CHEVRON                        */
/* ============================== */
.chevron {
  display: inline-block;
  margin-left: 6px;
  color: #0a0b0f;
  user-select: none;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.toggle-open .chevron {
  transform: rotate(180deg);
}
.toggle-open .chevron {
  transform: rotate(180deg);
}

/* ============================== */
/* USL WRAPPER                    */
/* ============================== */
.usl-wrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.25s ease, opacity 0.25s ease;
}
.usl-wrapper.show {
  max-height: 2000px;
  opacity: 1;
  /*box-shadow: inset 0 0 0.4rem 0.1rem #0d0c0d;*/
  padding: 0.8rem 0.2rem 0.6rem;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
