/* ============================== */
/* DISC_HEADINGS.CSS              */
/* ============================== */


/* ============================== */
/* HEADING 1                      */
/* ============================== */
h1 {
  /* Box Model */
  margin: 2rem 0 1.5rem;

  /* Typography */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  color: #5e77d4;
}


/* ============================== */
/* HEADING 2                      */
/* ============================== */
h2 {
  /* Box Model */
  margin: 0.75rem 0 0.5rem;

  /* Typography */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  color: #5e77d4;
}


/* ============================== */
/* HEADING 3                      */
/* ============================== */
h3 {
  /* Box Model */
  margin: 1.2rem 0 0.2rem;

  /* Typography */
  text-align: center;
  color: #c1c1d7;
}


/* ============================== */
/* HEADING 4                      */
/* ============================== */
h4 {
  /* Box Model */
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;

  /* Layout */
  display: flex;
  align-items: center;
  gap: 0.5rem;

  /* Typography */
  font-size: 1.1rem;
  font-weight: bold;
}
