/* ============================= */
/* DISC_DEV.CSS                  */
/* ============================= */


/* ============================== */
/* DEV PANEL                      */
/* ============================== */
#dev-panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================== */
/* DEV POPUP FORM                 */
/* ============================== */
.dev-popup-form {
  position: fixed;
  top: 18rem;
  left: 50%;
  width: clamp(240px, 85vw, 440px);
  height: clamp(280px, 30vw, 280px);
  transform: translate(-50%, -50%);
  background: var(--panel-card-background);
  padding: 2rem;
  border-radius: 22px;
  border: var(--input-border);
  z-index: 9999;
  color: var(--input-color);
  text-align: center;
}

/* ============================== */
/* DEV POPUP FORM INPUT           */
/* ============================== */
.dev-popup-form input[type="password"] {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  background: var(--input-background);
  color: var(--input-color);
  border: var(--input-border);
  border-radius: 12px;
}
/* ============================== */
.dev-popup-form input:hover[type="password"] {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
  background: var(--input_hoverfocus-background);
  border: var(-input_hoverfocus-border);
}

/* ============================== */
/* DEV POPUP CLOSE BUTTON         */
/* ============================== */
.dev-popup-form .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}
/* ============================== */
.dev-popup-form .close-btn:hover {
  font-size: 1.22rem;
  color: var(--panel-card_hove-color);
}
