/* ============================= */
/* DISC_DEV.CSS                  */
/* ============================= */


/* ============================== */
/* DEV MODE FORM                  */
/* ============================== */
.dev-popup-form {
  position: fixed;
  top: 45%;
  left: 50%;
  width: clamp(240px, 85vw, 440px);
  height: clamp(280px, 45vw, 440px);
  transform: translate(-50%, -50%);
  background: #222;
  padding: 2rem;
  border-radius: 12px;
  z-index: 9999;
  color: #fff;
  text-align: center;
}

.dev-popup-form input[type="password"] {
  padding: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

.dev-popup-form button[type="submit"] {
  padding: 0.5rem 1.5rem;
}

.dev-popup-form .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

#dev-panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dev-panel button {
  margin-top: 1rem;
}

#dev-panel .main-menu-btn {
  margin-top: 3rem;
}
