/* ============================== */
/* DISC_SPINNER.CSS               */
/* ============================== */

#loading {
  display: none;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--loading-color);
}
.spinner {
  border: var(--spinner-border);
  border-top: var(--spinner-border-top);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  animation: spin 0.9s linear infinite;
  margin: 1rem auto 1.5rem;
}

/* ==== KEYFRAMES ==== */
@keyframes spin {
  to { transform: rotate(360deg); }
}
