/* ============================== */
/* DISC_LOADING.JS                */
/* ============================== */


/* ============================== */
/* LOADING SPINNER                */
/* ============================== */
.loading.spinner {
  display: none;
  text-align: center;
  padding: 2rem;
}

.loading.spinner .spinner {
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #5a5dcf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 1rem auto 1.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ============================== */
/* LOADING BOUNCE                 */
/* ============================== */
.loading.bounce {
  display: none;
  text-align: center;
  padding: 2rem;
}

.bounce-ball {
  display: inline-block;
  margin-top: 3rem;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  box-shadow: 0 0 18px 2px rgba(0,0,0,0.4);
  background-image: linear-graadient(135deg, #5a5dcf, #7f5ac8);
  background-size: 160%;
  animation: bounce alternate infinite cubic-bezier(.2, .65, .6, 1);
}

.bounce-ball.one {
  --bounce-offset: -20px;
  animation-duration: 200ms;
}

.bounce-ball.two {
  --bounce-offset: -30px;
  animation-duration: 300ms;
}

.bounce-ball.three {
  --bounce-offset: -40px;
  animation-duration: 400ms;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(var(--bounce-offset));
  }
}
