/* ============================= */
/* DISC_STATS.CSS                */
/* ============================= */


/* ============================= */
/* INVENTORY LINE                */
/* ============================= */
.inventory-line {
  user-select: none;
}

/* ============================= */
/* CLICKABLE-NUM                 */
/* ============================= */
.panel-body .clickable-num {
  border-radius: 30rem;
  color: var(--panel-body-clickable-num-color);
  cursor: pointer;
  padding: 0.07rem;
  margin: 0; /* removed weird margin */
  min-width: 100px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  transition: color 0.2s ease;
}
/* ============================= */
.panel-body .clickable-num:hover {
  color: var(--panel-body-clickable-numhover-color);
  background-image: linear-gradient(25deg, #5a5dcf, #7f5ac8);
  background-size: 260%;
  transition: color 0.2s ease;
}

/* ============================= */
/* CLICKABLE-NUM CONTAINER       */
/* ============================= */
.clickable-num-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 4px;
  padding: 5px 10px;
}

/* ============================= */
/* CLICKABLE-STAT                */
/* ============================= */
.panel-body .clickable-stat {
  color: var(--panel-body-clickable-stat-color);
  font-size: 0.96rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}
/* ============================= */
.panel-body .clickable-stat:hover {
  color: var(--panel-body-clickable-stathover-color);
  font-size: 0.99rem;
}
/* ============================= */
/* CLICKABLE-STAT CONTAINER      */
/* ============================= */
.clickable-stat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 6px;
}

/* ============================= */
/* CLICKABLE-MATCH CONTNR (pill) */
/* ============================= */
.clickable-match-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 4px;
  padding: 5px 10px;
}

/* ============================= */
/* CLICKABLE-MATCH               */
/* ============================= */
.clickable-match {
  cursor: pointer;
  padding: 0.2rem 1.2rem;
  color: var(--clickable-match-color); /*#9aaae4;*/
  background-image: var(--clickable-match-background-image);
  background-size: 260%;
  border: var(--clickable-match-border);
  border-radius: 0.6rem;
  font-weight: bold;
  margin: 0; /* removed weird margin */
  min-width: 100px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease, color 1s ease;
}
/* ============================= */
.clickable-match:hover {
  color: var(--clickable-match_hover-color);
  background-image: var(--clickable-match_hover-background-image);
  background-size: 120%;
  transition: color 0.2s ease;
}
