/* ============================== */
/* DISC_BASE.CSS                  */
/* ============================== */


/* ============================== */
/* HTML                           */
/* ============================== */
html {
  height: 100%;
  scroll-behavior: smooth;
  backface-visibility: hidden;
}

/* ============================== */
/* BODY                           */
/* ============================== */
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
/* ============================== */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  line-height: 1.6;
/* ============================== */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--body-background-color) !important;
  font-size: 1rem;
  color: var(--body-color);
}

/* ============================== */
/* HTML, BODY                     */
/* ============================== */
html, body {
  overflow-x: hidden;
  /* overscroll-behavior: contain; (reduces "rubber band" scroll on mobile) */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ============================== */
/* BODY LOCK-SCROLL               */
/* ============================== */
body.lock-scroll {
  overflow-y: scroll;
}

/* ============================== */
/* *::BEFORE, ::AFTER             */
/* ============================== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
