/* Base Reset + Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Smooth scrolling for anchor links */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Body Style */
body {
  min-height: 100vh;
  background-color: #232529 !important;
  color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

/* Prevent Overflow */
html, body {
  overflow-x: hidden;
  /* overscroll-behavior: contain; (reduces "rubber band" scroll on mobile) */
}
