/* ============================= */
/* DISC_BUTTONS                  */
/* ============================= */


/* ============================= */
/* BUTTON                        */
/* ============================= */
.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.72rem 1.2rem;
  background-color: #33364d;
  color: #ccc;
  border: 1px solid #2f3136;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 2rem;
  user-select: none;
}
.button:hover {
  background-image: linear-gradient(135deg, #5a5dcf, #7f5ac8);
  background-size: 160%;
  transform: translateY(-2px);
  color: #060614;
}
button:focus {
  outline: none;
  user-select: none;
  box-shadow: 0 0 0 2px #7289da; /* soft colored border */
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden; 
}


/* ============================= */
/* BUTTON: FULL-WIDTH            */
/* ============================= */
.button.full-width {
  padding: 0.82rem 1rem;
  font-size: 0.95rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  user-select: none;
}


/* ============================= */
/* BUTTON: PANEL                 */
/* ============================= */
.button.panel {
  margin: 0.4rem 0;
  padding: 0.65rem;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  user-select: none;
  background-image: linear-gradient(135deg, #6165d1, #9779d2);
  background-size: 160%;
  border-radius: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);
  color: #060614;
  transition: 
    background-image 1s ease,
    background-size 1s ease,
    background-position 0.8s ease,
    font-size 1.2s ease,
    color 0.6s ease,
    border-radius 0.8s ease;
}

/* ============================= */
/* BUTTON: PANEL HOVER           */
/* ============================= */
.button.panel:hover {
  background-image: linear-gradient(165deg, #7578d7, #9779d2);
  background-size: 180%;
  color: #0c0c27;
  font-size: 0.93rem;
  border-radius: 18px;
}

/* ============================= */
/* BUTTON: PANEL FOCUS           */
/* ============================= */
button.panel:focus {
  outline: none;
  user-select: none;
}

/* ============================= */
/* LABEL BUTTON                  */
/* ============================= */
.label-button {
  display: block;
  user-select: none;
  width: 100%;
  max-width: 500px;
  padding: 0.8rem 1rem;
  background-color: #40444b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #2f3136;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1rem;
}
.label-button:hover {
  background-color: #50545b;
}
