@media (max-width: 500px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.4rem; }
  .button { padding: 0.6rem; }
  li { padding: 0.6rem; }
}

/* Used in Inventory */
.highlight {
  background-color: var(--highlight-background-color);
  color: var(--highlight-color);
  font-weight: bold;
  padding: 0.5px 2px;
  border-radius: 2.5px;
}
