@import url('disc_base.css');
@import url('disc_headings.css');
@import url('disc_buttons.css');
@import url('disc_panels.css');
@import url('disc_lists.css');
@import url('disc_links.css');
@import url('disc_dropzone.css');
@import url('disc_inputs.css');
@import url('disc_badges.css');
@import url('disc_spinner.css');
@import url('disc_fileactions.css');
@import url('disc_typing.css');
@import url('disc_responsive.css');
@import url('disc_animations.css');
