/* ============================= */
/* STICKY BAR HEADER             */
/* ============================= */

.sticky-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #1a1a1a;
  padding: 0.5rem;
  border-bottom: none;
  transition: opacity 0.3s ease;
  background: transparent;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}
.sticky-blur {
  backdrop-filter: blur(6px);
}
.sticky-faded {
  opacity: 0.4;
}
