/* ============================= */
/* DISC_BUTTONS                  */
/* ============================= */


/* ============================= */
/* BUTTON                        */
/* ============================= */
.button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.72rem 1.2rem;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: var(--button-border);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--button-box-shadow);
  margin-top: 2rem;
  user-select: none;
}
.button:hover {
  background-image: var(--buttonhover-background-image);
  background-size: 160%;
  transform: translateY(-2px);
  color: var(--buttonhover-color);
}
button:focus {
  outline: none;
  user-select: none;
  box-shadow: var(--buttonfocus-box-shadow);
  /*box-shadow: 0 0 0 2px #7289da; /* soft colored border
  animation: pulse-glow 2.8s ease-in-out infinite;
  transition:
    transform 0.45s cubic-bezier(0.25, 1.5, 0.5, 1), 
    box-shadow 1s ease;
  transform-origin: center;*/
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden; 
}

/* ============================= */
/* BUTTON: FULL-WIDTH            */
/* ============================= */
.button.full-width {
  padding: 0.82rem 1rem;
  font-size: 0.95rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  user-select: none;
}

/* ============================= */
/* BUTTON: FULL-WIDTH-ON         */
/* ============================= */
.button.full-width-on {
  padding: 0.82rem 1rem;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.72rem 1.2rem;
  background-image: var(--buttonhover-background-image);
  color: var(--buttonhover-color);
  border: var(--button-border);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--button-box-shadow);
  margin-top: 2rem;
  user-select: none;
}
.button.full-width-on:hover {
  background-size: 160%;
  transform: translateY(-2px);
  color: var(--buttonhover-color);
}

/* ============================= */
/* INPUT VALID: FULL-WIDTH-ON    */
/* ============================= */
.dev-popup-form input:valid + .button.full-width-on {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

/* ============================= */
/* BUTTON: PANEL                 */
/* ============================= */
.panel .button {
  box-sizing: border-box;
  text-align: center;
  margin: 0.4rem 0;
  padding: 0.65rem;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  user-select: none;
  background-image: linear-gradient(135deg, #6165d1, #9779d2);
  background-size: 160%;
  border-radius: 16px;
  box-shadow: var(--buttonpanel-box-shadow);
  transform: translateY(-2px);
  color: var(--button-color);
  transition: 
    background-image 1s ease,
    background-size 1s ease,
    background-position 0.8s ease,
    font-size 1.2s ease,
    color 0.6s ease,
    border-radius 0.8s ease;
}

/* ============================= */
/* BUTTON: PANEL HOVER           */
/* ============================= */
.panel .button:hover {
  background-image: linear-gradient(165deg, #7578d7, #9779d2);
  background-size: 180%;
  color: var(--buttonpanel_hover-color);
  font-size: 0.93rem;
  border-radius: 18px;
}

/* ============================= */
/* BUTTON: PANEL FOCUS           */
/* ============================= */
button.panel:focus {
  outline: none;
  user-select: none;
}

/* ============================= */
/* LABEL BUTTON                  */
/* ============================= */
.label-button {
  display: block;
  user-select: none;
  width: 100%;
  max-width: 500px;
  padding: 0.8rem 1rem;
  background-color: var(--label-button-background-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #2f3136;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 1rem;
}
.label-button:hover {
  background-color: var(--label-buttonhover-background-color);
}
