/* ============================= */
/* DISC_STATS.CSS                */
/* ============================= */

/* ============================= */
/* INVENTORY LINE                */
/* ============================= */
.inventory-line {
  user-select: none;
}

/* ============================= */
/* CLICKABLE-STAT                */
/* ============================= */
.panel-body .clickable-stat {
  color: #b3b3ff !important;
  font-size: 0.96rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}
.panel-body .clickable-stat:hover {
  color: #ccccff !important;
  font-size: 0.99rem;
}
.clickable-stat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 6px;
}

/* ============================= */
/* CLICKABLE-MATCH  (tags/pills) */
/* ============================= */
.clickable-match-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  line-height: 1.6;
  margin-top: 4px;
  padding: 5px 10px;
}
.clickable-match {
  color: #9aaae4;
  cursor: pointer;
  padding: 0.2rem 1.2rem;
  background-image: linear-gradient(25deg, #5a5dcf, #7f5ac8);
  background-size: 260%;
  color: #0a0b0f;
  border-radius: 0.6rem;
  font-weight: bold;
  border: 2px solid  #1f202e;
  margin: 0; /* removed weird margin */
  min-width: 100px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.5s ease, color 1s ease;
}
.clickable-match:hover {
  background-image: linear-gradient(125deg, #7578d7, #9779d2);
  background-size: 120%;
  color: #0b0613;
  transition: color 0.2s ease;
}
