/* ============================= */
/* DISC_CARDS.CSS                */
/* ============================= */


/* ============================= */
/* CARD FEATURES                 */
/* ============================= */
.card-subtitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--panel-card-color);
  opacity: 0.9;
  margin-bottom: 0.4rem;
}
/* ============================= */
.card-list {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin: 0;
  text-align: left;
}
/* ============================= */
.card-list li {
  background: none;
  border: none;
  padding: 0.25rem 0;
  margin: 0;
  box-shadow: none;
  font-size: 0.85rem;
  color: var(--panel-card-color); /* or inherit */
}

/* ============================= */
/* PANEL CARD                    */
/* ============================= */
.panel-card {
  padding: 0.62rem 1.1rem;
  border-radius: 12px;
  margin: 0.5rem 0;
  color: var(--panel-card-color);
  background: var(--panel-card-background); /* #292b3d;*/
  box-shadow: var(--panel-card-box-shadow);
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  transition: transform 0.4s ease, color 0.5s ease;
}
/* ============================= */
.panel-card:hover {
  color: var(--panel-cardhover-color);
}

/* ============================= */
/* COMPARE CARD                  */
/* ============================= */
.compare-card {
  padding: 0.62rem 1.1rem;
  border-radius: 12px;
  margin: 0.5rem 0;
  background: var(--panel-card-background); /* #292b3d;*/
  box-shadow: var(--panel-card-box-shadow);
  color: var(--panel-card-color);
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  transition: transform 0.4s ease, color 0.4s ease;
}
/* ============================= */
.compare-card:hover {
  color: var(--panel-cardhover-color);
}

/* ============================= */
/* INFO CARD                     */
/* ============================= */
.info-card {
  padding: 0.62rem 1.1rem;
  border-radius: 12px;
  margin: 0.5rem 0;
  color: var(--panel-card-color);
  background: var(--panel-card-background);
  box-shadow: var(--panel-card-box-shadow);
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  transition: transform 0.4s ease, color 0.5s ease;
}
/* ============================= */
.info-card:hover {
  color: var(--panel-cardhover-color);
}
/* ============================= */
.info-card .card-title {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
}
/* ============================= */
.info-card .card-body {
  font-size: 0.9rem;
  line-height: 1.4;
}
