<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Catalog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/disc/disc.css') }}">
  <script src="/static/js/scripts.js" type="module"></script>
</head>
<body>
  <h1 id="typed-header">
    <span id="typed-text" data-title="Inventory Catalog|Anikto Opsis"></span>
  </h1>

  <!-- Inject parsed data for JS -->
  <script>window.seniorityData = {{ table | tojson }};</script>

  <div id="panel-wrapper">
    <div id="panel-container">

      <!-- ============================= -->
      <!-- PANEL: INVENTORY SEARCH -->
      <!-- ============================= -->
      <div class="panel panel-animate" id="search-panel">
        <div class="panel-header" onclick="togglePanel(this)">Search Catalog</div>
        <div class="panel-body scrollable-panel">
          <input id="inventory-search" class="input full-width" placeholder="Search..." />
          <button id="inventory-search-button" class="button full-width" style="margin-top: 0.5rem;">Search</button>
          <div id="inventory-results" style="margin-top: 1rem;"></div>
        </div>
      </div>

  
      <!-- ============================= -->
      <!-- PANEL: SEARCH STATS -->
      <!-- ============================= -->
      <div class="panel panel-animate" id="stats-panel">
        <div class="panel-header" onclick="togglePanel(this)">Statistics</div>
        <div class="panel-body">
          <ul style="list-style: none; padding-left: 0;">
              <div id="inventory-stats" style="line-height: 1.8; text-align: center;">
                <!-- JS-populated -->
              </div>
          </ul>
        </div>
      </div>


      <!-- ============================= -->
      <!-- PANEL: DOWNLOADS -->
      <!-- ============================= -->
      <div class="panel panel-animate" id="downloads">
        <div class="panel-header" onclick="togglePanel(this)">Downloads</div>
        <div class="panel-body">
          <ul class="downloads">
            <a class="file-action" id="download-search-button">Download Search</a>
          </ul>
        </div>
      </div>


      <!-- ============================= -->
      <!-- PANEL: RETURN -->
      <!-- ============================= -->
      <div class="panel panel-animate">
        <form action="{{ url_for('index') }}" method="get">
          <button type="submit" class="button full-width">Process Another</button>
        </form>
      </div>

    </div> <!-- END panel-container -->
  </div> <!-- END panel-wrapper -->
</body>
</html>
